






 




.icon-course-overview-small { background-image: url("/pp/lookAndFeel/standard/icons/course_overview_small.gif"); }
.icon-course-overview-large { background-image: url("/pp/lookAndFeel/standard/icons/course_overview_large.gif"); }
.icon-objectives-small { background-image: url("/pp/lookAndFeel/standard/icons/objectives_small.gif"); }
.icon-objectives-large { background-image: url("/pp/lookAndFeel/standard/icons/objectives_large.gif"); }
.icon-lessons-small { background-image: url("/pp/lookAndFeel/standard/icons/lessons_small.gif"); }
.icon-lessons-large { background-image: url("/pp/lookAndFeel/standard/icons/lessons_large.gif"); }
.icon-tests-small { background-image: url("/pp/lookAndFeel/standard/icons/tests_small.gif"); }
.icon-tests-large { background-image: url("/pp/lookAndFeel/standard/icons/tests_large.gif"); }
.icon-polls-small { background-image: url("/pp/lookAndFeel/standard/icons/polls_small.gif"); }
.icon-polls-large { background-image: url("/pp/lookAndFeel/standard/icons/polls_large.gif"); }
.icon-forms-small { background-image: url("/pp/lookAndFeel/standard/icons/forms_small.gif"); }
.icon-forms-large { background-image: url("/pp/lookAndFeel/standard/icons/forms_large.gif"); }
.icon-reportsubmissions-small { background-image: url("/pp/lookAndFeel/standard/icons/reportsubmissions_small.gif"); }
.icon-reportsubmissions-large { background-image: url("/pp/lookAndFeel/standard/icons/reportsubmissions_large.gif"); }
.icon-planning-documents-small { background-image: url("/pp/lookAndFeel/standard/icons/planning_documents_small.gif"); }
.icon-planning-documents-large { background-image: url("/pp/lookAndFeel/standard/icons/planning_documents_large.gif"); }
.icon-course-summary-small { background-image: url("/pp/lookAndFeel/standard/icons/course_summary_small.gif"); }
.icon-course-summary-large { background-image: url("/pp/lookAndFeel/standard/icons/course_summary_large.gif"); }
.icon-my-results-small { background-image: url("/pp/lookAndFeel/standard/icons/results_small.gif"); }
.icon-my-results-large { background-image: url("/pp/lookAndFeel/standard/icons/results_large.gif"); }
.icon-reports-small { background-image: url("/pp/lookAndFeel/standard/icons/reports_small.gif"); }
.icon-reports-large { background-image: url("/pp/lookAndFeel/standard/icons/reports_large.gif"); }
.icon-course-participants { background-image: url("/pp/lookAndFeel/standard/icons/course_participants_small.gif"); }
.icon-discuss-small { background-image: url("/pp/lookAndFeel/standard/icons/discuss_small.gif"); }
.icon-discuss-large { background-image: url("/pp/lookAndFeel/standard/icons/discuss_large.gif"); }
.icon-e-meeting-small { background-image: url("/pp/lookAndFeel/standard/icons/e_meeting_small.gif"); }
.icon-e-meeting-large { background-image: url("/pp/lookAndFeel/standard/icons/e_meeting_large.gif"); }
.icon-student-log-small { background-image: url("/pp/lookAndFeel/standard/icons/student_log_small.gif"); }
.icon-student-log-large { background-image: url("/pp/lookAndFeel/standard/icons/student_log_large.gif"); }
.icon-external-blog-small { background-image: url("/pp/lookAndFeel/standard/icons/external_blog_small.gif"); }
.icon-external-blog-large { background-image: url("/pp/lookAndFeel/standard/icons/external_blog_large.gif"); }
.icon-personal-info-small { background-image: url("/pp/lookAndFeel/standard/icons/personal_info_small.gif"); }
.icon-personal-info-large { background-image: url("/pp/lookAndFeel/standard/icons/personal_info_large.gif"); }
.icon-personal-settings-small { background-image: url("/pp/lookAndFeel/standard/icons/personal_settings_small.gif"); }
.icon-personal-settings-large { background-image: url("/pp/lookAndFeel/standard/icons/personal_settings_large.gif"); }
.icon-personal-password-small { background-image: url("/pp/lookAndFeel/standard/icons/personal_password_small.gif"); }
.icon-personal-password-large { background-image: url("/pp/lookAndFeel/standard/icons/personal_password_large.gif"); }
.icon-iup-personal-small { background-image: url("/pp/lookAndFeel/standard/icons/iup_personal_small.gif"); }
.icon-iup-personal-large { background-image: url("/pp/lookAndFeel/standard/icons/iup_personal_large.gif"); }
.icon-iup-admin-small { background-image: url("/pp/lookAndFeel/standard/icons/iup_admin_small.gif"); }
.icon-iup-admin-large { background-image: url("/pp/lookAndFeel/standard/icons/iup_admin_large.gif"); }
.icon-attendance-small { background-image: url("/pp/lookAndFeel/standard/icons/attendance_small.gif"); }
.icon-attendance-large { background-image: url("/pp/lookAndFeel/standard/icons/attendance_large.gif"); }
.icon-personal-km-profile-small { background-image: url("/pp/lookAndFeel/standard/icons/personal_km_profile_small.gif"); }
.icon-personal-km-profile-large { background-image: url("/pp/lookAndFeel/standard/icons/personal_km_profile_large.gif"); }
.icon-cv-small { background-image: url("/pp/lookAndFeel/standard/icons/cv_small.gif"); }
.icon-cv-large { background-image: url("/pp/lookAndFeel/standard/icons/cv_large.gif"); }
.icon-support-contact-small { background-image: url("/pp/lookAndFeel/standard/icons/support_contact_small.gif"); }
.icon-support-contact-large { background-image: url("/pp/lookAndFeel/standard/icons/support_contact_large.gif"); }
.icon-about-pp-small { background-image: url("/pp/lookAndFeel/standard/icons/about_pp_small.gif"); }
.icon-about-pp-large { background-image: url("/pp/lookAndFeel/standard/icons/about_pp_large.gif"); }

.icon-forward { background-image: url("/pp/lookAndFeel/standard/icons/forward.gif"); }

.icon-send-message-small { background-image: url("/pp/lookAndFeel/standard/icons/send_message_small.gif"); }
.icon-send-message-large { background-image: url("/pp/lookAndFeel/standard/icons/send_message_large.gif"); }
.icon-course-invitation-small { background-image: url("/pp/lookAndFeel/standard/icons/course_invitation_small.gif"); }
.icon-course-invitation-large { background-image: url("/pp/lookAndFeel/standard/icons/course_invitation_large.gif"); }

.icon-nill { background-image: url("/pp/lookAndFeel/standard/icons/nill.gif"); }
.icon-news { background-image: url("/pp/lookAndFeel/standard/icons/news.gif"); }
.icon-news-small { background-image: url("/pp/lookAndFeel/standard/icons/news.gif"); }
.icon-pim { background-image: url("/pp/lookAndFeel/standard/icons/pim.gif"); }
.icon-pim-large { background-image: url("/pp/lookAndFeel/standard/icons/pim.gif"); }

.icon-course-small { background-image: url("/pp/lookAndFeel/standard/icons/course_small.gif"); }
.icon-course-large { background-image: url("/pp/lookAndFeel/standard/icons/course_large.gif"); }
.icon-course-menu { background-image: url("/pp/lookAndFeel/standard/icons/course_menu.gif"); }
.icon-course-open-small { background-image: url("/pp/lookAndFeel/standard/icons/course_open_small.gif"); }

.icon-edit { background-image: url("/pp/lookAndFeel/standard/icons/edit.gif"); }
.icon-new { background-image: url("/pp/lookAndFeel/standard/icons/new_small.gif"); background-repeat: no-repeat;  vertical-align: middle;}
.icon-course-stats { background-image: url("/pp/lookAndFeel/standard/icons/course_stats.gif"); }
.icon-inbox-pim { background-image: url("/pp/lookAndFeel/standard/icons/inbox_pim.gif"); }
.icon-sent-pim { background-image: url("/pp/lookAndFeel/standard/icons/sent_pim.gif"); }
.icon-send-pim { background-image: url("/pp/lookAndFeel/standard/icons/send_pim.gif"); }
.icon-delete-pim { background-image: url("/pp/lookAndFeel/standard/icons/delete_pim.gif"); }
.icon-pim-online { background-image: url("/pp/lookAndFeel/standard/icons/pim_online.gif"); }
.icon-pim-offline { background-image: url("/pp/lookAndFeel/standard/icons/pim_offline.gif"); }
.icon-pim-label-add { background-image: url("/pp/lookAndFeel/standard/icons/pim_label_add.png"); }
.icon-pim-label-manage { background-image: url("/pp/lookAndFeel/standard/icons/pim_label_manage.png"); }
.icon-pim-label-remove { background-image: url("/pp/lookAndFeel/standard/icons/pim_label_remove.png"); }
.icon-mail-small { background-image: url("/pp/lookAndFeel/standard/icons/mail_small.gif"); }
.icon-mail-large { background-image: url("/pp/lookAndFeel/standard/icons/mail_large.gif"); }
.icon-mail-read-small { background-image: url("/pp/lookAndFeel/standard/icons/mail_read_small.gif"); }
.icon-notes-small { background-image: url("/pp/lookAndFeel/standard/icons/notes_small.gif"); }
.icon-calculator { background-image: url("/pp/lookAndFeel/standard/icons/calculator.gif"); }
.icon-calendar-small { background-image: url("/pp/lookAndFeel/standard/icons/calendar_small.gif"); }
.icon-calendar-large { background-image: url("/pp/lookAndFeel/standard/icons/calendar_large.gif"); }
.icon-sitemap {	background-image: url("/pp/lookAndFeel/standard/icons/sitemap.gif"); }
.icon-help-small { background-image: url("/pp/lookAndFeel/standard/icons/help_small.gif"); }
.icon-message-central-large { background-image: url("/pp/lookAndFeel/standard/icons/message_central_large.gif"); }
.icon-message-central-small { background-image: url("/pp/lookAndFeel/standard/icons/message_central_small.gif"); }
.icon-contact-small { background-image: url("/pp/lookAndFeel/standard/icons/contact_small.gif"); }
.icon-discuss-large { background-image: url("/pp/lookAndFeel/standard/icons/discuss_large.gif"); }
.icon-noticeboard { background-image: url("/pp/lookAndFeel/standard/icons/notice_board_small.gif"); }
.icon-participants { background-image: url("/pp/lookAndFeel/standard/icons/participants_large.gif"); }
.icon-faq { background-image: url("/pp/lookAndFeel/standard/icons/question_medium.gif"); }
.icon-info { background-image: url("/pp/lookAndFeel/standard/icons/info.gif"); }
.icon-info-solid { background-image: url("/pp/lookAndFeel/standard/icons/info_solid.gif"); }
.icon-flag { background-image: url("/pp/lookAndFeel/standard/icons/flag.gif"); }
.icon-note-small { background-image: url("/pp/lookAndFeel/standard/icons/note_small.gif"); }
.icon-files-small { background-image: url("/pp/lookAndFeel/standard/icons/files_small.gif"); }
.icon-personal-small { background-image: url("/pp/lookAndFeel/standard/icons/personal_small.gif"); }
.icon-personal-large { background-image: url("/pp/lookAndFeel/standard/icons/personal_large.gif"); }
.icon-chat-small { background-image: url("/pp/lookAndFeel/standard/icons/chat_small.gif"); }
.icon-chat-large { background-image: url("/pp/lookAndFeel/standard/icons/chat_large.gif"); }
.icon-event { background-image: url("/pp/lookAndFeel/standard/icons/event.gif"); }
.icon-chat-add-channel { background-image: url("/pp/lookAndFeel/standard/icons/add_chat_channel.gif"); }
.icon-chat-30 { background-image: url("/pp/lookAndFeel/standard/icons/chat_30.gif"); }
.icon-chat-box { background-image: url("/pp/lookAndFeel/standard/icons/chat_box_icon.gif"); }
.icon-chat-export { background-image: url("/pp/lookAndFeel/standard/icons/export_chat_channel.gif"); }
.icon-delete { background-image: url("/pp/lookAndFeel/standard/icons/delete.gif"); }
.icon-group { background-image: url("/pp/lookAndFeel/standard/icons/group.png"); }
    
.icon-plus { background-image: url("/pp/lookAndFeel/standard/icons/plus.gif"); }
.icon-minus { background-image: url("/pp/lookAndFeel/standard/icons/minus.gif"); }

.icon-admin-small { background-image: url("/pp/lookAndFeel/standard/icons/admin_small.gif"); }
.icon-skill-small { background-image: url("/pp/lookAndFeel/standard/icons/skill_management_small.gif"); }

.icon-bullet { background-image: url("/pp/lookAndFeel/standard/icons/bullet.png"); vertical-align: middle; }
.icon-notepad-small { background-image: url("/pp/lookAndFeel/standard/icons/notepad_small.gif"); }
.icon-support-small { background-image: url("/pp/lookAndFeel/standard/icons/support_small.gif"); }
.icon-projectgroup-small { background-image: url("/pp/lookAndFeel/standard/icons/projectgroup_small.gif"); }
.icon-statistics-small { background-image: url("/pp/lookAndFeel/standard/icons/statistics_small.gif"); }
.icon-notice-board-small { background-image: url("/pp/lookAndFeel/standard/icons/notice_board_small.gif"); }
.icon-computer-check { background-image: url("/pp/lookAndFeel/standard/icons/computer_check.gif"); }
.icon-approved { background-image: url("/pp/lookAndFeel/standard/icons/approved.gif"); }
.icon-new-file { background-image: url("/pp/lookAndFeel/standard/icons/document_file_new.gif"); }
.icon-new-link { background-image: url("/pp/lookAndFeel/standard/icons/link_new.gif"); }
.icon-new-folder { background-image: url("/pp/lookAndFeel/standard/icons/folder_new.gif"); }
.icon-folder-closed { background-image: url("/pp/lookAndFeel/standard/icons/folder_closed.gif"); }
.icon-edit-file { background-image: url("/pp/lookAndFeel/standard/icons/file_edit.gif"); }
.icon-info-file { background-image: url("/pp/lookAndFeel/standard/icons/info_solid.gif"); }
.icon-comment-file { background-image: url("/pp/lookAndFeel/standard/icons/file_comment.gif"); }
.icon-download-file { background-image: url("/pp/lookAndFeel/standard/icons/file_download.gif"); }
.icon-downloaded-file { background-image: url("/pp/lookAndFeel/standard/icons/file_downloaded.png"); }
.icon-search { background-image: url("/pp/lookAndFeel/standard/icons/search.gif"); }
.icon-catalog-public { background-image: url("/pp/lookAndFeel/standard/icons/catalog_public.gif"); }
.icon-catalog-password { background-image: url("/pp/lookAndFeel/standard/icons/catalog_password.gif"); }
.icon-catalog-application { background-image: url("/pp/lookAndFeel/standard/icons/catalog_application.gif"); }
.icon-print { background-image: url("/pp/lookAndFeel/standard/icons/print.gif"); }
.icon-latest-news-small { background-image: url("/pp/lookAndFeel/standard/icons/latest_news_small.gif"); }
.icon-latest-news-medium { background-image: url("/pp/lookAndFeel/standard/icons/latest_news_medium.gif"); }
.icon-shortcut-small { background-image: url("/pp/lookAndFeel/standard/icons/shortcut_small.gif"); }
.icon-shortcut-medium { background-image: url("/pp/lookAndFeel/standard/icons/shortcut_medium.gif"); }
.icon-todo { background-image: url("/pp/lookAndFeel/standard/icons/todo.gif"); }
.icon-envelope-open-small { background-image: url("/pp/lookAndFeel/standard/icons/envelope_open_small.gif"); }
.icon-homepage-small { background-image: url("/pp/lookAndFeel/standard/icons/homepage_small.gif"); }
.icon-chat-clear { background-image: url("/pp/lookAndFeel/standard/icons/chat_clear.gif"); }
.icon-beta-small { background-image: url("/pp/lookAndFeel/standard/icons/beta-icon_small.png"); }
.icon-beta-medium { background-image: url("/pp/lookAndFeel/standard/icons/beta-icon_medium.png"); }
.icon-new-small { background-image: url("/pp/lookAndFeel/standard/icons/new_small.gif"); }
.icon-new-medium { background-image: url("/pp/lookAndFeel/standard/icons/new_medium.gif"); }
.icon-settings-small { background-image: url("/pp/lookAndFeel/standard/icons/settings_small.gif"); }
.icon-question-small { background-image: url("/pp/lookAndFeel/standard/icons/question_small.gif"); }
.icon-faq-small { background-image: url("/pp/lookAndFeel/standard/icons/question_small.gif"); }
.icon-tools-small { background-image: url("/pp/lookAndFeel/standard/icons/tools_small.gif"); }
.icon-portfolio-small { background-image: url("/pp/lookAndFeel/standard/icons/portfolio_small.gif"); }
.icon-content-editor-small { background-image: url("/pp/lookAndFeel/standard/icons/content_editor_small.gif"); }
.icon-course-preferences-small { background-image: url("/pp/lookAndFeel/standard/icons/course_preferences_small.gif"); }

.icon-podcast-small { background-image: url("/pp/lookAndFeel/standard/icons/podcast_small.gif"); }
.icon-attachment { background-image: url("/pp/lookAndFeel/standard/icons/attachment.gif"); }
.icon-feed-small { background-image: url("/pp/lookAndFeel/standard/icons/feed_icon_small.gif"); }
.icon-back { background-image: url("/pp/lookAndFeel/standard/icons/back.gif"); }
.icon-sortable-handle { background-image: url("/pp/lookAndFeel/standard/icons/sortable_handle.png"); }
.icon-preview { background-image: url("/pp/lookAndFeel/standard/icons/preview.png"); }

.icon-autoreply-small { background-image: url("/pp/lookAndFeel/standard/icons/autoreply.png"); }
.icon-contentnode-tree_folder_closed { background-image: url("/pp/lookAndFeel/standard/icons/tree_folder_closed.gif"); }
.icon-contentnode-tree_file_html { background-image: url("/pp/lookAndFeel/standard/icons/tree_file_html.gif"); }
.icon-contentnode-document_link { background-image: url("/pp/lookAndFeel/standard/icons/document_link.gif"); }
.icon-contentnode-tree_test { background-image: url("/pp/lookAndFeel/standard/icons/tree_test.gif"); }
.icon-contentnode-tree_test_anon { background-image: url("/pp/lookAndFeel/standard/icons/tree_test_anon.gif"); }
.icon-contentnode-tree_survey { background-image: url("/pp/lookAndFeel/standard/icons/tree_survey.gif"); }
.icon-contentnode-tree_survey_noa { background-image: url("/pp/lookAndFeel/standard/icons/tree_survey_noa.gif"); }
.icon-contentnode-file { background-image: url("/pp/lookAndFeel/standard/icons/file.gif"); }
.icon-contentnode-pd { background-image: url("/pp/lookAndFeel/standard/icons/pd.gif"); }
.icon-contentnode-tree_rs { background-image: url("/pp/lookAndFeel/standard/icons/tree_rs.gif"); }
.icon-contentnode-tree_rs_group { background-image: url("/pp/lookAndFeel/standard/icons/tree_rs_group.gif"); }
.icon-contentnode-tree_rs_anon { background-image: url("/pp/lookAndFeel/standard/icons/tree_rs_anon.gif"); }
.icon-waste { background-image: url("/pp/lookAndFeel/standard/icons/waste.gif");}
.icon-expanded { background-image: url("/pp/lookAndFeel/standard/icons/expanded.gif");}
.icon-minimized { background-image: url("/pp/lookAndFeel/standard/icons/minimized.gif");}
